<div *ngIf="!dataLoaded" class="d-flex justify-content-center mt-5">
<div class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<div *ngIf="dataLoaded" class="accordion shadow bg-body rounded mt-2 mb-2" id="accordionExample">
  <div class="accordion-item shadow bg-body rounded">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Colors
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="list-group shadow-lg bg-body rounded">
          <div *ngFor="let color of colors">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-light">{{color.colorName}}</a>
          </div>
      </div>
    </div>
  </div>
</div> 