<!-- For Customers -->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d112061.09262729759!2d77.208022!3d28.632485!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x644e33bc3def0667!2sIndior+Tours+Pvt+Ltd.!5e0!3m2!1sen!2sus!4v1527779731123"
                    width="100%" height="650px" frameborder="0" style="border:0"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <div class="contact-form">
                <h1 class="title">Contact Us</h1>
                <h2 class="subtitle">We are here assist you.</h2>
                <form [formGroup]="contactForm">
                    <input type="tel" name="phone" formControlName="contInfo"
                        placeholder="Your Phone Number Or Email"
                        autocomplete="off" />

                    <textarea name="text" id="" rows="8"
                        formControlName="message"
                        placeholder="Your Message"></textarea>

                    <button class="btn-send" (click)="send()">Get a Call Back</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- For Admin -->
