<div class='container-fluid'>
    <div class="card">
        <div class="heading text-center">
            <div class="head1">RENT A CAR</div>
            <p class="bdr"></p>
        </div>
        <div class="card-body">
            <div class="row m-0 pt-5">
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faCar"></fa-icon>
                        </div>

                        <div class="card-title"> TOP QUALİTY CARS </div>
                        <p><small>You can find the searched tools in the market
                                here</small></p>
                        <div class="learn-more">
                            LEARN MORE
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
                        </div>

                        <div class="card-title"> ECONOMICAL BINDS </div>
                        <p><small>We think your pocket and sell affordable
                                vehicles</small></p>
                        <div class="learn-more">
                            <p> <small> LEARN MORE
                                </small> </p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faShieldAlt"></fa-icon>
                        </div>

                        <div class="card-title"> STAY SECURE
                        </div>
                        <p><small>Welcome to the address of safe renting</small></p>
                        <div class="learn-more">
                            LEARN MORE
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content">

                        <div class="icon">
                            <fa-icon [icon]="faBolt"></fa-icon>
                        </div>

                        <div class="card-title"> SOO FASTLY PURCHASE </div>
                        <p><small>Easy and fast payment, instant delivery and
                                more</small></p>
                        <div class="learn-more">
                            <p> <small> LEARN MORE <label><i class="fas
                                            fa-angle-right"></i></label>
                                </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
