.addcar{
    border: 2px dashed white;
    height: 80px;
    width: 60%;
    position: relative;
    left: 20%;
    background-color: rgba(34, 34, 34, 0.918);
    text-align: center;
    color: rgba(240, 248, 255, 0.123);
    font-size: 50px;
}

.alert{
    width: 60%;
    position: relative;
    left: 20%;
}

.brand-form{
    border-radius: 50px;
    width: 60%;
    position: relative;
    left: 20%;
}