<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
    <app-loading></app-loading>
</div>

<div *ngIf="dataLoaded" class="container">
    <button class="addcar mt-3" data-bs-toggle="modal"
        data-bs-target="#add">+</button>

    <div class="mb-3">
        <input type="text" class="form-control brand-form mt-4"
            id="exampleInputEmail1"
            placeholder="Search something 🔍" autocomplete="off"
            [(ngModel)]="filterText">
        <div class="alert alert-danger mt-3" *ngIf="filterText"
            role="alert">
            searching "{{filterText}}"
        </div>
    </div>

    <table class="container mt-2 mb-5" style="width: 60%;">
        <thead>
            <tr>
                <th scope="col" style="width: 20%;"><h1>Brand Id</h1></th>
                <th scope="col" style="width: 25%;"><h1>Brand Name</h1></th>
                <th scope="col" style="width: 20%;"><h1>Edit / Delete</h1></th>
            </tr>
        </thead>
        <tbody *ngFor="let brand of brands | filterbrand:filterText">
            <tr>
                <td>{{brand.brandId}}</td>
                <td>{{brand.brandName}}</td>
                <td class="mid">
                    <button data-bs-toggle="modal" data-bs-target="#update"
                        (click)="targetThisBrand(brand)" class="btn
                        btn-success"><fa-icon
                            [icon]="faWrench"></fa-icon></button>

                    <button data-bs-toggle="modal"
                        data-bs-target="#delete"
                        class="btn
                        btn-danger ml-5" (click)="targetThisBrand(brand)"><fa-icon
                            [icon]="faTrashAlt"></fa-icon></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<!-- Add Brand -->
<div class="modal fade" id="add" tabindex="-1"
    aria-labelledby="brand" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="brandForm">

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Brand
                            Name:</label>
                        <input type="text" formControlName="brandName"
                            class="form-control" autocomplete="off"
                            id="recipient-name">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="add()" class="btn btn-primary">Add
                    Brand</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Brand -->
<div class="modal fade" id="update" tabindex="-1"
    aria-labelledby="brand" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="brandForm">

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Brand
                            Name:</label>
                        <input type="text" formControlName="brandName"
                            class="form-control"
                            id="recipient-name">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="update()" class="btn
                    btn-primary">Update
                    Brand</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Brand -->
<div class="modal fade" id="delete" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this brand
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="delete()" data-bs-dismiss="modal"
                    class="btn btn-danger">Remove
                    Brand</button>
            </div>
        </div>
    </div>
</div>