<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="payment">
                <div class="payment_header">
                    <div class="check"><i><fa-icon class="text-success"
                                [icon]="faCheck"></fa-icon></i></div>
                </div>
                <div class="content">
                    <h1 class="text-warning">Success Payment !</h1>
                    <p style="font-size: 18px;">Your payment has been
                        successfully completed. we wish you
                        drive in good day...
                    </p>
                    <a routerLink="/cars" style="text-decoration: none;">Go to
                        Home</a>
                </div>

            </div>
        </div>
    </div>
</div>
