<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
<app-loading></app-loading>
</div>
<div class="card bg-success" *ngIf="dataLoaded">
  <div class="card-body" align="center" id="newrented">
    ALL NEW RENTED
  </div>
</div>
<table class="container mt-2 mb-5" *ngIf="dataLoaded">
	<thead>
		<tr>
			<th scope="col"><h1>Car</h1></th>
			<th scope="col"><h1>Customer Name</h1></th>
			<th scope="col"><h1>Rent Date</h1></th>
		</tr>
	</thead>
	<tbody *ngFor="let rental of newRentals">
		<tr>
			<td>{{rental.car}}</td>
			<td>{{rental.customerName}}</td>
			<td>{{rental.rentDate}}</td>
		</tr>
		
	</tbody>
</table>


