<div *ngIf="!dataLoaded" class="d-flex justify-content-center">
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
</div>

<table class="container mt-2 mb-5" *ngIf="dataLoaded">
	<thead>
		<tr>
			<th scope="col"><h1>Car</h1></th>
			<th scope="col"><h1>Customer Name</h1></th>
			<th scope="col"><h1>Rent Date</h1></th>
			<th scope="col"><h1>Return Date</h1></th>
		</tr>
	</thead>
	<tbody *ngFor="let rental of rentals">
		<tr>
			<td>{{rental.car}}</td>
			<td>{{rental.customerName}}</td>
			<td>{{rental.rentDate}}</td>
			<td *ngIf="rental.returnDate != null">{{rental.returnDate}}</td>
			<td *ngIf="rental.returnDate == null" class="mid">
				<button class="btn btn-success pl-5">
					<fa-icon [icon]="faCheck"></fa-icon>
				</button>
			</td>
		</tr>
		
	</tbody>
</table>

