<!-- Buraları Bir Şekilde Dinamikleştirmeye Çalışacağım... -->
<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center
        bg-light bg">
        <div class="col-md-5 p-lg-5 mx-auto my-5" style="margin-top: 0px
            !important;">
            <div style="padding-bottom: 70px
                !important; color:rgba(240, 248, 255, 0.473);">
                <h1 class="display-4 fw-normal">Rent A Car</h1>
                <p class="lead fw-normal">Work life is tiring and stressful.
                    Sometimes you need to take a vacation to give yourself some
                    time. We are with you for such times. We are here for your
                    one-click car rental</p>
                <a class="btn btn-outline-secondary" routerLink="/cars">Lets
                    Rent A
                    Car</a>
            </div>

        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center
            text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Aston Martin DB11 AMR</h2>
                <p class="lead">You will be very surprised at its strength</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height:
                300px; border-radius: 21px 21px 0 0;">
                <img style="height:inherit;"
                    src="https://localhost:44350//Images/CarImages/26b26377-4aaf-481a-ad3d-0daec2067514_6_4_2021.jpg"
                    alt="">
            </div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center
            overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">BMW 320I</h2>
                <p class="lead">Best Price Performance</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height:
                300px; border-radius: 21px 21px 0 0;">
                <img style="height:inherit;"
                    src="https://localhost:44350//Images/CarImages/b24d5f0a-f453-4d81-b27b-508dfd4cb2d3_6_4_2021.webp"
                    alt="">
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center
            overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">LAMBORGHINI URUS</h2>
                <p class="lead">The hardest to find cars on the market</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height:
                300px; border-radius: 21px 21px 0 0;">
                <img style="height:inherit;"
                    src="https://localhost:44350//Images/CarImages/464784a2-20d7-4455-89a0-c1164357d978_6_4_2021.jpg"
                    alt="">
            </div>
        </div>
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center
            text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">FIAT DOBLO 1.3</h2>
                <p class="lead">Doblocu dayıları da unutmadık :)</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height:
                300px; border-radius: 21px 21px 0 0;">
                <img style="height:inherit;"
                    src="https://localhost:44350//Images/CarImages/89922d9d-12f6-49de-a794-da993b757e9e_24_3_2021.jpg"
                    alt="">
            </div>
        </div>
    </div>
</main>
