/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("backgroundcar.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*  
    https://images.tcdn.com.br/img/img_prod/591073/jogo_need_for_speed_2015_ps4_8955_3_20200507151604.jpg
    
    https://wallpaperaccess.com/full/229229.jpg
    
    
*/